.headerContain {
    overflow: hidden;
    background-color:white; /*#e4b133;*/    
    width: 100%;
}
.menuContain{
    display: grid;
    grid-template-columns: 40% 60%;    
    align-content: center;
    justify-content: center;
    height: auto;
    padding: 1% 10% 1% 10%;
}
.logoContainer{
    display: grid;
    grid-template-columns: 30% 70%;
    height: fit-content;
}
.logo{
    display: flex;
    height: 3em;
    align-self: center;
    justify-self: right;
    padding: 0 10px 0 0;
}
.logoText{
    display: flex;
    font-family: "Richela Kids";
    font-size: larger;
    align-self: center;
    justify-self: left;
}
.AllMenuBox{
    align-self: center;
    align-content: center;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    justify-items: center;
    height: fit-content;
}
.MenuLinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    color: #5C5F64;
}
.linkCustom{
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat-Regular";
}
.signInBotton{
    background-color: #F79B2E;
    border-radius: 5px;
    align-content: center;
    display: grid;
    grid-template-columns: 20% 80%;
    height: fit-content;
    align-self: center;
    padding: 5px 5% 5px 5%;
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.47);
}
.plusIcon{
    color: white;
    font-size: 15px;
}
.signInText{
    color: white;
    font-size: 10px;
    justify-self: center;
    align-self: center;
    padding: 0 10px 0 10px;
}

.languageLogo{
    height: 1em;
    
    align-self: center;
}


