.headerContain {
    overflow: hidden;
    background-color:white; /*#e4b133;*/    
    width: 100%;
}
.menuContain{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-content: center;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
.logoContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
}
.logo{
    height: 3em;
}
.logoText{
    align-self: center;
    font-family: "Richela Kids";
    font-size: larger;
}
.menuCustom1{
    align-content: center !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.linkCustom{
    /* margin-left: 2%;      */
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 12px;
}
.signInBotton{
    background-color: #F79B2E;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    align-content: center;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.plusIcon{
    color: white;
    font-size: 15px;
}
.signInText{
    color: white;
    font-size: 10px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.languageLogo{
    height: 1em;
    padding-left: 10px;
}


