.LandingCategorieCartBox{
    background: linear-gradient(to right, rgba(248,106,106,1) 0%, rgba(253,148,78,1) 100%);
    display: flex;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    align-self: center;
    justify-self: center;
}
.LandingCategorieCartText{
    color: white;
    align-self: center;
    justify-self: center;
    padding: 5px 10px 5px 10px;
    font-size: small;
}