.featuredDestination_Card{
    background-color: white;
    border: black;
    box-shadow: -2px 5px 12px 6px rgba(203,203,203,1);
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    font-size: 0.8em;
}