.headerContain {
    overflow: hidden;
    background-color:white; /*#e4b133;*/
    
    width: 100%;
}
.menuContain{
    display: block;
    display: grid;
    grid-template-columns: 5% 95%;    
    align-items: center;
}
.logo{
    width: 100%;
    display: inline-block;
    
}
.menuCustom1{
    padding:1em 0 1em 0 ;
    display: inline-block;
    width: 95%;
    align-content: center;
    justify-content: center;
}
.linkCustom{
    margin-left: 5%;    
    margin-right: 5%;      
}
.covidBox{
    background-color: #139CAB;
    height: 2em;
    width: 100%;
}
