.hero{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding-left: 10%;
    padding-right: 15%;
    background-color: #C20A69;
}
.images{
    width: 100%;
    height: auto;
}
.heroText{
    align-self: center;
    margin-left: 50%;
}
.region{
    background-color: gray;
    padding-left: 10%;
    border-radius: 10px;
    color: white;
}
.travelDate{
    background-color: gray;
    padding-left: 10%;
    border-radius: 10px;
    color: white;
}
.nPersons{
    background-color: gray;
    padding-left: 10%;
    border-radius: 10px;
    color: white;
}
.search{
    background-color: yellow;
    border-radius: 10px;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 15%;
    color: black;
}